[submodule "distributions/cryptoDB"]
	path = distributions/cryptoDB
	url = https://github.com/crypto-datab/cryptoDB
	branch = master
[submodule "distributions/nitroDB"]
	path = distributions/nitroDB
	url = https://github.com/nitro-db/nitroDB
	branch = master
